@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
    --primary-color: #500423;
    --off-white: #F3F4F6;
    --dark-grey: #6B7280;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
}

hr {
    margin: 2rem 0;
}

.list-non-bullet {
    list-style: none;
}

.list-item-inline {
    display: inline;
    padding: 0 0.5rem;
}

.link {
    text-decoration: none;
    padding: 0.5rem 1rem;
    margin-right: 0.5rem;
}

.navigation {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
}

.navigation .nav-brand {
    font-weight: bold;
    padding: 0.5rem 0.5rem;
    font-size: larger;
}

.navigation .nav-pills {
    text-align: right;
}

.navigation .link {
    color: white;
}

.navigation .link-active {
    font-weight: bold;
}

section {
    text-align: center;
    max-width: 600px;
    margin: auto;
    padding: 2rem;
}

label {
    display: block;
    padding-bottom: 0.5rem;
}

.angle-input {
    margin-bottom: 2rem;
}

button {
    display: block;
    margin: auto;
    padding: 0.5rem 1rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: white;
    font-size: larger;
    border: 1px solid var(--primary-color);
}

input {
    border: 1px solid var(--primary-color);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

#output {
    margin: auto;
    text-align: center;
}

/********* Quiz **********/

form {
    text-align: left;
    max-width: 620px;
    margin: auto;
    padding: 2rem;
    color: black;
}

form div {
    margin-top: 3rem;
}

form label {
    text-align: left;
    color: black;
}

#qoutput {
    margin-bottom: 10rem;
    text-align: center;
    font-weight: bolder;
    font-size: larger;
}